/* OrderSummaryPage.css */

.section-container {
  border: 1px solid #FFC107; /* Yellow border for sections */
  background-color: #FFF8E1; /* Pale yellow background for sections */
  padding: 20px;
  margin: 10px;
}

.order-details-item {
  font-size: 18px;
}

.tip-section {
  display: flex;
  align-items: center;
}

.tip-amount-input {
  margin-right: 10px;
  width: 80px;
}

.coupon-section {
  display: flex;
  align-items: center;
}

.coupon-input {
  margin-right: 10px;
  width: 150px;
}

.coupon-button {
  margin-left: 10px;
}
